<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traduction FR - OCC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <div class="container">
        <h1>Traduction Français - Occitan</h1>
        <div class="trad-container">
            <div class="input-container">
                <textarea id="inputText-fr" rows="4" cols="25" placeholder="Enter text to translate"></textarea>
                <textarea id="outputText-occ" rows="4" cols="25" placeholder="Translated text" readonly></textarea> 
            </div>
            <button id="translateButton-fr-occ">Traduire</button>
        </div>

        <div class="trad-container">
            <div class="input-container">
                <textarea id="inputText-occ" rows="4" cols="25" placeholder="Enter text to translate"></textarea>
                <textarea id="outputText-fr" rows="4" cols="25" placeholder="Translated text" readonly></textarea>
            </div>
            <button id="translateButton-occ-fr">Revirar</button>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#translateButton-fr-occ').click(function(){
                var text = $('#inputText-fr').val();
                $.post('/translate-fr-occ', { text: text }, function(data){
                    $('#outputText-occ').val(data);
                });
            });

            $('#translateButton-occ-fr').click(function(){
                var text = $('#inputText-occ').val();
                $.post('/translate-occ-fr', { text: text }, function(data){
                    $('#outputText-fr').val(data);
                });
            });
        });
    </script>
</body>
</html>